.adminBGColor{
	background-color: #2694D3;
}
.fun{
	border: 1px solid #bdbdbd;
	border-top:none;
	min-height:300px;
	border-radius:0px 0px 5px 5px;
}
.funTitle{
	width:100%;
	height: 30px;
	line-height: 30px;
	font-size:12px;
	background: url("../../image/height30bg.png") repeat-x top;
	color:white;
	font-weight: bold;
}
.funContent{
	width:100%;
	min-height:300px;
	padding-top:10px;
	
}
.funForm{
	margin-left:30px;
	color:gray;
	width: 600px;
}
.funForm table{
	color:gray;
}
.inputError{
	color:red;
	font-size: 12px;
}
.inputSuccess{
	color:green;
}
.note{
	font-size: 10px;
	color:red;
}
.funTable{
	width:100%;
	border: 1;
	cellspacing:0;
	cellpadding:0;
	align:center;
	min-height: 240px;
	
}
.funTable td,.funTable th{
	border: 1px solid #BDBDBD;
}
.table12{
	font-size: 12px;
}
.table12 tr{
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}
.table12 th{
	text-align: center;
	background-color: #37A7E8;	
}
.table12 td{
	vertical-align: middle;
}

.font12{
	font-size: 10px;
}
.warning{
	color:red;
	font-size: 10px;
}
